.menu {
    width: 100%;
    position: absolute;
    top: -1000px;
    left: 0;
    right: 0;
    background-color: #FEFBF6;
    transition: top 1s;
    z-index: 5;

    &__logo {
        position: relative;
    }

    &__logo_img {
        width: 134px;
        margin: 14px auto 0;
    }

    &__close {
        position: absolute;
        width: 16px;
        top:28px;
        right: 22px;
        cursor: pointer;

        &:hover {
            background-color: #bbbbbb;
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
    }

    &__nav {
        margin-top: 40px;
    }
    
    &__item {
        text-align: center;
        margin-top: 20px;
    }

    &__link {
        color: #282828;
        font-family: "QuincyCF-Bold";
        font-size: 18px;
        line-height: 1.3;
    }

    &__line {
        width: 64px;
        margin: 0 auto;
        margin-top: 20px;
        border-bottom: solid 1px #E46A4F;
    }

    &__button {
        margin-top: 28px;
        margin-left: 57px;
        font-size: 14px;
        font-family: "QuincyCF-Bold";
        color: #282828;
        background-color: #FEFBF6;
    }

    &__info {
        margin-top: 32px;
    }

    &__link_info {
        font-family: "Raleway-Regular";
        font-size: 14px;
        line-height: 130%;
        color: #282828;
    }

    &__socials {
        margin: 45px auto 0;
        padding-bottom: 50px;
    }

    &__open {
        top: 0;
        transition: top 1s;
    }
}