.search {
    position: absolute;
    right: 16px;
    top: 43px;
    display: none;

    @media screen and (min-width: 768px) {
        right: 22px;
        top: 55px;
    }

    &__input {
        padding-left: 20px;
        border: 1px solid rgb(204, 204, 204);
        border-radius: 10px;

        &:focus {
            outline: none;
        }

        @media screen and (min-width: 768px) {
                height: 34px;
            }
    }

    &__close {
        width: 14px;
        margin-top: -17px;
        margin-left: 198px;
        cursor: pointer;

        @media screen and (min-width: 768px) {
            margin-top: -23px;
        }
    }

    &__open {
        display: block;
    }
}